<LinkTo @route="cart" class="cart-link">
    <i class="fas fa-shopping-cart ">


    </i>

    {{#if this.cart.itemlist.length}}
    <span class="cart-count d-inline-flux justify-content-center align-items center">
        {{this.itemCount}}
    </span>

    {{/if}}

</LinkTo>

<main class="container mt-5">
    {{yield}}

</main>