<div class="product-details">

    {{!-- header --}}
    <section>
        <h3>Beats Solo Wireless Headphones</h3>
        <div class="text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>

        </div>
    </section>

    {{!-- Price --}}

    <section>
        <del class="small text-black-50">$199.95</del>
        <i class="text-danger fw-bold">$99</i>
    </section>


</div>